* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}

body {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;

	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1980' height='1080' preserveAspectRatio='none' viewBox='0 0 1980 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1980' height='1080' x='0' y='0' fill='rgba(65%2c 105%2c 233%2c 1)'%3e%3c/rect%3e%3cpath d='M882.86 264.41 a245.5 245.5 0 1 0 491 0 a245.5 245.5 0 1 0 -491 0z' fill='rgba(33%2c 226%2c 159%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M138.675%2c812.368C196.775%2c811.007%2c234.323%2c757.112%2c261.544%2c705.765C286.611%2c658.483%2c298.797%2c604.103%2c274.313%2c556.516C247.746%2c504.882%2c196.739%2c467.635%2c138.675%2c466.964C79.554%2c466.281%2c25.765%2c501.389%2c-2.503%2c553.318C-29.601%2c603.098%2c-21.707%2c661.998%2c5.415%2c711.765C33.961%2c764.144%2c79.038%2c813.765%2c138.675%2c812.368' fill='rgba(33%2c 226%2c 159%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M154.7 222.68 a182.68 182.68 0 1 0 365.36 0 a182.68 182.68 0 1 0 -365.36 0z' fill='rgba(33%2c 226%2c 159%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1176.16 945.55 a239.45 239.45 0 1 0 478.9 0 a239.45 239.45 0 1 0 -478.9 0z' fill='rgba(33%2c 226%2c 159%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M793.588%2c665.165C824.762%2c662.792%2c846.664%2c636.883%2c860.616%2c608.905C872.907%2c584.257%2c873.616%2c555.805%2c860.086%2c531.814C846.305%2c507.379%2c821.599%2c491.591%2c793.588%2c490.056C762.473%2c488.35%2c730.468%2c497.86%2c713.139%2c523.759C693.837%2c552.606%2c689.034%2c590.493%2c706.197%2c620.661C723.523%2c651.114%2c758.652%2c667.825%2c793.588%2c665.165' fill='rgba(33%2c 226%2c 159%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1410.57 121.38 a313.6 313.6 0 1 0 627.2 0 a313.6 313.6 0 1 0 -627.2 0z' fill='rgba(33%2c 226%2c 159%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1220.62 935.67 a280.2 280.2 0 1 0 560.4 0 a280.2 280.2 0 1 0 -560.4 0z' fill='rgba(33%2c 226%2c 159%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1578.79 392.26 a359.77 359.77 0 1 0 719.54 0 a359.77 359.77 0 1 0 -719.54 0z' fill='rgba(33%2c 226%2c 159%2c 1)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1980' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
	background-repeate: no-repeat;
}
/* Card */

.card-custum {
	background: #ffffff;
	margin: 8px;
	border-radius: 18px;
}
.form-control {
	border: none;
	background-color: #f8f9fa;
}

.inputs input {
	width: 40px;
	height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

/* custom warna + button */
.primary {
	color: #15d16c;
}
.bg-affiliate {
	background-color: #15d16c;
}
.btn-affiliate {
	background-color: #15d16c;
	border-color: #15d16c;
	color: #ffffff;
}

.btn-affiliate:hover {
	background-color: #20b565;
	color: #ffffff;
}

/* bs Stepper */
.step-trigger {
	padding-left: 0px;
	padding-right: 0px;
}
