* {
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	font-family: 'Manrope', sans-serif;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
html,
body {
	background-color: #ffffff;
}
p,
a,
span {
	font-family: "Inter", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Manrope", sans-serif !important;
}

/* Custom Effect */
.blur {
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
}

/* Navbar */
.nav-item {
	margin-left: .8rem !important;
	margin-right: .8rem !important;
}

.nav-item.active {
	border-bottom: 4px solid #26d48a;
}
.nav-item a {
	border-bottom: 4px solid transparent;
}
.nav-item a:hover {
	border-bottom: 4px solid #26d48a;
}

.nav-item a.active {
	border-bottom: 4px solid #26d48a;
}

/* Bacground Hero */
.hero {
	margin-top: 84px;
	background-color: #ffffff;
	background-image: url("/assets/img/bg-hero.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.keuntungan {
	background-color: #ffffff;
}

.testimoni {
	background-color: #d5e9f5;
	background-image: url("/assets/img/bg-testi.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/* Custom Card */
.card-benefit {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 48px 24px;
	gap: 16px;
	border: none;

	background: #fafafa;
	border-radius: 24px;
}
.card-benefit.card-body {
	padding: 0px !important;
}

/* Card Testi */
.card-testi {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 24px 16px;
	border: none;
	gap: 16px;
	border-radius: 24px;
	background: #182d48;
}

/* Card Berita*/
.card-berita {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 16px;
	gap: 8px;
	background: #182d48;
	border-radius: 12px;
	color: #ffffff;
}

/* Carousel Testimony */
.carousel .carousel-item {
	color: #999;
	overflow: hidden;
	min-height: 120px;
	font-size: 13px;
}

.carousel .carousel-indicators {
	bottom: -40px;
}

.carousel-indicators li,
.carousel-indicators li.active {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 1px 3px;
	box-sizing: border-box;
}

.carousel-indicators li {
	background: #e2e2e2;
	border: 4px solid #fff;
}

.carousel-indicators li.active {
	color: #fff;
	background: #182d48;
	border: 5px double;
}

/*Custum Button */

.btn-notaris {
	background-color: #182d48;
	border-color: #182d48;
	color: #ffffff;
}

.btn-notaris:hover {
	background-color: #071229;
	color: #ffffff;
}

.btn-white {
	background-color: #fafafa;
	border-color: #fafafa;
	color: #182d48;
}

.btn-white:hover {
	background-color: #ffffff;
	color: #182d48;
}
