* {
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	font-family: 'Manrope', sans-serif;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
html,
body {
	background-color: #ffffff;
}
p,
a,
span {
	font-family: "Inter", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Manrope", sans-serif !important;
}

/* Custom Effect */
.blur {
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
}

/* Navbar */
.nav-item {
	margin-left: .8rem !important;
	margin-right: .8rem !important;
}

.nav-item active {
	border-bottom: 4px solid #26d48a;
}
.nav-item a {
	border-bottom: 4px solid transparent;
}
.nav-item a:hover {
	border-bottom: 4px solid #26d48a;
}

.nav-item a.active {
	border-bottom: 4px solid #26d48a;
}

.hero {
	margin-top: 78px;
	background: #ffffff url("/assets/img/bg-hero.svg")no-repeat;
}

.keuntungan {
	background-color: #ffffff;
}

.testimoni {
	background: #d5e9f5 url("/assets/img/bg-testi.png")no-repeat;
}

/* Custom Card */
.card-benefit {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 48px 24px;
	gap: 16px;
	border: none;

	background: #fafafa;
	border-radius: 24px;
}
.card-benefit.card-body {
	padding: 0px !important;
}

/* Caraosel */
.carousel .carousel-item {
	color: #999;
	overflow: hidden;
	min-height: 120px;
	font-size: 13px;
}

.carousel .media img {
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 50%;
}

.carousel .testimonial {
	padding: 0 15px 0 60px;
	position: relative;
}

.carousel .testimonial::before {
	content: "\201C";
	font-family: Arial, sans-serif;
	color: #e2e2e2;
	font-weight: bold;
	font-size: 68px;
	line-height: 54px;
	position: absolute;
	left: 15px;
	top: 0;
}

.carousel .overview b {
	text-transform: uppercase;
	color: #1c47e3;
}

.carousel .carousel-indicators {
	bottom: -40px;
}

.carousel-indicators li,
.carousel-indicators li.active {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 1px 3px;
	box-sizing: border-box;
}

.carousel-indicators li {
	background: #e2e2e2;
	border: 4px solid #fff;
}

.carousel-indicators li.active {
	color: #fff;
	background: #1c47e3;
	border: 5px double;
}
